// tools
@import "tools/reset";
@import "tools/variables";
@import "tools/mixins";
@import "tools/fonts";

// code

body {
  font-family: "SCoreDream";

  //test

  background-color: wheat;

  @include mobile {
    background-color: violet;
  }
}

* {
  color: white;
  box-sizing: border-box;
}
